body {
  padding-top: 125px;
}

.navbar-header {
  height: 100px;
}

.navbar-form {
  margin-top: 35px;
}

nav {
  font-size: 15px;
}

.dropdown li {
  font-size: 20px;  
}

.dropdown-menu a{
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


.fa {
   
}

li:hover{

}