body {
  min-height: 2000px;
  padding-top: 125px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
}
.navbar-form {
  margin-top: 35px;
}



.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


.fa {
   
}

li:hover{

}