.thumbnailStyling {
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
	display: block;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
  }
  .thumbnailStyling:hover .overlay {
	height: 100%;
  }
  .text {
	white-space: nowrap; 
	color: white;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  }

.item active {
	height: 500px;
	width: 100%;
}

.item {
	height: 500px;
	width: 100%;
}

.carousel {
	margin-bottom: 50px;
}

.item h3 {
	color: black;
}

.item p {
	color: black;
}

.navbar {
	margin-bottom: 0;
}

body {
	background: #3E4649;
	color: #f7f7f7;
	font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
	font-weight: bold;
}

p {
	font-size: 16px;
	color: #cdcdcd;
}

.btn-primary {
	color: #fff;
	background-color: transparent;
	border-color: white;
	margin-bottom: 10px;
}

.btn-primary:hover {
	color: #27A967;
	background-color: white;
	border-color: white;
}

.navbar-inverse {
	background: #2E2F31;
	border: 0;
}

.navbar-inverse .navbar-nav li a {
	color: #f7f7f7;
	font-size: 16px;
}

.navbar-inverse .navbar-nav li a:hover {
	background: #27A967;
}
.dropdown-menu {
	background: #2E2F31;
	border-radius: 0;
	border: 0;
}
.dropdown-menu li a {
	padding: 10px;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
	background: #2C463C;
}
.glyphicon-large {
	font-size: 100px;
}
.fa-large {
	font-size: 40px;
}
.call-to-action {
	text-align: center;
}
.call-to-action p {
	margin-bottom: 30px;
	font-family: sans-serif;
}


.navbar .navbar-nav > li.open > a:focus {
  background-color: teal;
  color: #fff;
}