<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
 
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
 
    <appender name="Appender1" class="org.apache.log4j.ConsoleAppender">
       <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n"/>
       </layout>
    </appender>
  
    <!-- <appender name="Appender2" class="org.apache.log4j.FileAppender">
       <param name="File" value="D:/logs.txt" />
       <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n"/>
       </layout>
    </appender> -->
    
    
    <appender name="Appender2" class="org.apache.log4j.DailyRollingFileAppender">
       <param name="File" value="/Users/Shivam.Mehta/Documents/LogFile/app.log" />
       <param name="DatePattern" value="'.'yyyy-MM-dd" />
       <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="[%p] %d %c %M - %m%n"/>          
       </layout>
    </appender>
 
    <root>
        <priority value="info"/>
        <appender-ref ref="Appender1" />
        <appender-ref ref="Appender2" />
    </root>
     
</log4j:configuration>