h2 {
	color: #27A967;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
	{
	background-color: #27A967 !important;
}

.adminpanelhead {
	background-color: #2e2f31;
	border-radius: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-box-shadow: 4px 7px 38px -2px rgba(0, 0, 0, 1);
	-moz-box-shadow: 4px 7px 38px -2px rgba(0, 0, 0, 1);
	box-shadow: 4px 7px 38px -2px rgba(0, 0,0 0, 1);
}

.adminpanelhead:HOVER {
	background-color: rgba(0, 0, 0, 0.4);
}

.jumbotron:HOVER {
	background-color: #5351c2;
}

.jumbotron {
	background-color : rgba(0, 59, 109, 0.71);
	-webkit-box-shadow: 4px 7px 38px -2px rgba(0, 0, 0, 1);
	-moz-box-shadow: 4px 7px 38px -2px rgba(0, 0, 0, 1);
	box-shadow: 4px 7px 38px -2px rgba(0, 0,0 0, 1);
}