<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="http://www.springframework.org/schema/security 
      http://www.springframework.org/schema/security/spring-security.xsd
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans.xsd">
      
   <beans:bean id="myDataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <beans:property name="url" value="jdbc:mysql://localhost:3306/project" />
        <beans:property name="username" value="root" />
        <beans:property name="password" value="" />
    </beans:bean>
   
		<http auto-config="true" use-expressions="true">
	
		
		<intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		
		<!-- <intercept-url pattern="//**" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')" /> for multiple roles -->
		
		<form-login 
		    login-page="/loginadmin"
		    default-target-url="/adminindex"
			authentication-failure-url="/loginError"    
			login-processing-url="/perform_login"
			username-parameter="username"
			password-parameter="password" />
		<!--  Default error Page by Spring /loginError  and default /perform_login -->
		<logout logout-url="/logout" logout-success-url="/"  /> <!--  AUtologout with /logout RequestMapping implicit session invalidate -->
		
		<csrf disabled="true"/>
	
	</http>
	
	<!-- Select users and user_roles from database -->
	<authentication-manager>
	  <authentication-provider>
		<jdbc-user-service data-source-ref="myDataSource"
		  users-by-username-query=
		    "select username,password,enabled from user where username=? and role='ROLE_ADMIN'"
		  authorities-by-username-query=
		    "select username, role from user where username=?" />
	  </authentication-provider>
	</authentication-manager>
	
	</beans:beans>
