
	<web-app id="WebApp_ID">
		<display-name>FrontEnd</display-name>
		<welcome-file-list>
			<welcome-file>/views/index.html</welcome-file>
			<welcome-file>index.htm</welcome-file>
			<welcome-file>/views/index.jsp</welcome-file>
			<welcome-file>default.html</welcome-file>
			<welcome-file>default.htm</welcome-file>
			<welcome-file>default.jsp</welcome-file>
		</welcome-file-list>
	</web-app>